.weather {
  padding: 20px;
  width: 1024px;
  display: flex;
  flex-direction: column;
  &__search {
    position: relative;
    background: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    width: 100%;
    input {
      padding: 20px 20px 0 20px;
      background: 0;
      color: white;
      border: 0;
      outline: none;
      width: 80vw;
      max-width: 400px;
      font-size: 1.5em;
      transition: padding 0.3s 0.2s ease;
      margin-bottom: 5px;
      &:focus {
        padding-bottom: 5px;
      }
      &:focus + .weather__search--line {
        &:after {
          transform: scaleX(1);
        }
      }
    }
    &--line {
      width: 100%;
      height: 3px;
      position: absolute;
      bottom: -8px;
      background: #bdc3c7;

      &:after {
        content: " ";
        position: absolute;
        float: right;
        width: 100%;
        height: 3px;
        transform: scalex(0);
        transition: transform 0.3s ease;
        background: #1abc9c;
      }
    }
  }
  &__list {
    align-self: center;
    justify-self: start;
    margin-left: 40px;
    margin-top: 20px;
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &--el {
      width: 100%;
      font-size: 1em;
      text-align: start;
      margin-bottom: 30px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}